html {
    min-height: 100%;
}
body {
    height:100%;
}

/* Landing style */

#index {
    background-image: url("../image/bg/bg-landing.jpg");
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat:no-repeat;

}

#info-index {
    padding-right: 50px;
}

#info-index, #form-index {
    margin-top: 30px;
}

#am {
    width: 546px;
    height: 200px;
}

#text {
    margin-top:15px;
    color: aliceblue;
}

.text {
    color: aliceblue;
}


/* navbar  */

#menu i {
    padding-right: 30px;
    font-size: 10;
}

#menu {
    padding-left: 33%;
}

.navbar {
    background-color: #0b202c;
}

#menu li {
    padding: 10px;
}

#ld-info {
    color: aliceblue;
    margin-left: 10%;
}

#ld-info h1 {
    padding-bottom: 50px;
    padding-top: 10px;
}

#dm-ico img {
    height: 20px;
    width: 20px;
}

#btn a{
    margin-top:5px;
    margin-left:10px; 
}

/* wow style */

#wow {
    background-image: url("../image/bg/bg-wow-1.jpg");
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat:no-repeat;
}

#content {
    color: white
}

#content h3, p{
    text-align: center;
}

#content h3:nth-child(1) {
    margin-top: 5%;
}


.izq {
    margin-left: 20px;
}

.clase  {
    margin-top: 30px;
    width: 95%;
    height: 100%;
    padding-bottom: 20px;
}

.cl-text {
    text-align: center;
    margin-top: 30px;
}

.cl-img {
    float: left;
    margin-top: 30px;
    margin-right: 15px;
    height: 241px;
    width: 300px;
}

#content p {
    color: #ebcd81;
    font-size: 20px;
    margin-bottom: 30px;
}

.p-wow{
    text-align: justify;
}
#clases h2 {
    text-align: center;
    font-size: 3rem;
    margin-top: 100px;
    color: white;
}



#clases p {
    color: #e9d9b1;
    font-size: 20px;
}

/* historia */

#historia{
    background-image: linear-gradient(#2d77a1, #9fb5c2);
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat:no-repeat;  
}

.founders {
    height: 100px;
    width: 100px;
    float: left;
    padding-right: 10px;
}

.h-text {
    color:black;
    font-size: 15px;
    margin-top: 15px;
    
}

#juegos h2{
    margin-left: 25%;
}

#t-juegos {
    border: 1px solid black
}



/* blizzcon */

#blizzcon {
    background-image: linear-gradient(#b4cad6, #2d77a1);
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat:no-repeat;

}

#blz-tx {
    margin-top: 10%;
    color: rgb(15, 0, 0);
    font-size: 20px;
}

#titulo {
    margin-left: 7%;
    margin-top: 5%; 
    font-size: 3em
}
#blz-video {
    margin-left: 15%;
    margin-top: 20px;
}

#left-photo {
    margin-top: 35px;

}

/* hearthstone */

#hs {
    background-image:  linear-gradient(rgb(15, 3, 27), rgb(31,52,30));
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat:no-repeat;
}

.hs-rows {
    background-color: #ab6e3c;
    height: 300px;
    width: auto;
}

.que-es {
    text-align: center;
    color:#ffffff;
}

.que-es h1 {
    margin-top: 20px;
}
.que-es p {
    margin-top: 20px;
    font-size: 1.2em;
}

#hs-row h3:nth-child(1) {
    margin-top: 3%; 
    margin-bottom: 30px;
}
#hs-row {
    margin-top: 20px;
    text-align: center;
    color: #e8d5aa;
}
.heroes-text {
    color: #0b202c;
}
#heroes img {
    width: 200px;
    height: 200px;
    margin-top: 50px;
    margin-left: 20px;
    margin-bottom: 30px;
    margin-right: 20px;
    float: left;
}

#mago {
    text-align: justify
}

.btn-clase p{

    margin-bottom: 0;
}

.btn-clase {
    margin-top: 20px;
    margin-bottom: 20px;
}


/* about me */

.about-me{
    width: 100%;
    padding-top: 70px;
    padding-bottom: 70px;
}

.about-me:after {
    content: '';
    display: block;
    clear: both;
}

.about-me h2 {
    color: #0b202c;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    margin-bottom: 30px;
    padding-bottom: 10px;
}

.about-me h2:after {
    content: '';
    position: absolute;
    width: 80px;
    height: 2px;
    margin-left: -40px;
    left: 50%;
    bottom: 0px;
    background-color: #85af4b;
}

.about-me .col-left, .about-me .col-right {
    width: 50%;
    float: left;
}

.about-me .col-left {
    padding-left: 5%;
    padding-right: 5%;
}

.about-me .col-right {
    padding-right: 30px;
}

.about-me .col-left img {
    max-width: 100%;
    width: 60%;
    height: 30%;
}

.about-me a{
    margin-left: 50%;
    margin-top: 30px;
}
.about-me h4 {
    text-align: center;
    margin-bottom: 30px;
}

.about-me .col-right p{
    text-align: justify;
}

#skill {
    background-color: #e2e2e2;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}

#skill h2 {
    text-transform: uppercase;
    position: relative;
    margin-bottom: 30px;
    padding-bottom: 10px;
}

#skill h2:after {
    content: '';
    position: absolute;
    width: 80px;
    height: 2px;
    margin-left: -40px;
    left: 50%;
    bottom: 0px;
    background-color: #85af4b;
}

#skill i {
    color: #85af4b;
    font-size: 120px;
    padding-bottom: 30px;
}